/* Голубой текст акцент #2196F3 */
/* Черный текс основной заголовок #212121 */
/* Белый текст основной #FFFFFF */
/* Белый хедер фон  #FFFFFF */
/* Серый текст не основной #757575 */
/* Наша команда фон #F5F4FA */
/* Герой, футер фон #2F303A */
:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-bg-color: #2f303a;
}
/* Основное */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/* Лого */
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--title-text-color);
}
.logo-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-link:hover,
.logo-link:focus {
  color: var(--accent-color);
}
/* Навигация */

.site-nav-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.auth-nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-link-current:hover,
.site-nav-link-current:focus {
  color: var(--accent-color);
}
.site-nav-link-current {
  color: var(--accent-color);
  text-decoration: none;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

/* Хедер */
.page.header {
  color: var(--title-text-color);
}
/* Мейн */

.hero {
  color: var(--title-text-color);
  background-color: var(--hero-footer-bg-color);
}
.hero-title {
  /* color: var(--title-text-color);
  background-color: var(--hero-footer-bg-color); */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.gallery-section {
  background-color: #f5f4fa;
}
.gallery-headline-primary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.gallery-item {
  background-color: var(--title-text-color);
}
.gallery-headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.galery-headline-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Кнопки */

.hero-button {
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.hero-button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-primary {
  cursor: pointer;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
}
.button-primary {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button-secondary {
  cursor: pointer;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}
.button-secondary {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

/* Футер */
.footer {
  color: rgb(255, 255, 255, 0.6);
  background-color: var(--hero-footer-bg-color);
  text-decoration: none;
}
.footer-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
}
.address {
  font-style: normal;
}

.logo-footer {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
